@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #AAAAAA;
    width: 100%;
}

#header-title{
    margin-top: 90px;
    margin-left: 120px;
    
}

.container{
    display: flex;
  margin-top: -150px;
}
.first-title{
    width: 582px;
    margin-left: 120px;
    margin-top: 285px;
}
#first-h1{
    font-size: 52px;
    font-weight: 700;
    /* display: inline; */

    
}
.first-link-button{
    text-decoration: none;
    color: #FFFFFF;
    background: #E02C6D;
    border-radius: 40px;
    padding: 10px 24px;
    font-weight: 500;
}

.first-side-pic{
    margin-top: 211px;
    width: 440px;
    margin-left: 133px;
}

/* second container */

.second-container{
    width: 1047px;
    margin-left: 200px;
    margin-top: 380px;

}
#second-title{
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30PX;
    
}
.product{
  background-color: #FFFFFF;
  width: 329px;
  border-radius: 10px;
}

.products-title{
    margin-top: -5px;
}
 .product img{
     width: 300px;
     height: 256px;
     padding: 15px 15px;
     border-radius: 15px;

 }
 .products-detail{
    margin-left: 15px;
 }
 .price-rate{
     font-size: 24px;
     margin-top: -15px;
 }
 .fa-star{
     color: #FB8200;
 }
 .rating-number{
     color: #5E6366;
     margin-left: 8px;
 }
 #link-button-two{
     margin-top: 50px;
    margin-left: 930px;
 }
 #second-button{
     text-decoration: none;
     color: #E02C6DDE;
 }
  
 /* third-container */
 .third-container{
     display: flex;
     width: 1030px;
     margin-left: 205px;
     margin-top: 30px;
 }
 #business-pic{
    margin-top: 16px;
    height: 200px;
 }

 /* thired container end */

 .third-article{
    width: 700px;
    margin-left: 50px;
 }
 #third-title{
    color: #0A0826;
    font-weight: 700;

 }
 #third-link-button{
     text-decoration: none;
     background-color: #E02C6D;
     padding: 10px 20px;
     color: white;

 }
 footer{
     background-color: #0A0826;
     margin-top: 130px;
    /* padding-top: 50px; */
 }
 .footer-decoraion-one{
     text-align: center;
     color: #FFFFFF;
     margin-bottom: -20px;
 }
 .footer-decoraion{
     text-align: center;
     color: #D9DBE1;
     margin-bottom: -20px;
 }
 .fotter-center{
     padding: 70px;
 }

 @media only screen and (max-width: 690px) {
     body{
         width: 100%;
     }
   .container{
       display: block;
   }
   #header-title{
            margin-bottom: -200px;
   }
   .first-pic{
       width: 300px;
       margin-left: -50px;
   }
   .first-title{
       margin-left: -50px;
   }
   #first-h1{
       width: 500px;
       font-size: 20px;
       margin-left: 200px;
      
   }
   .first-article{
       font-size: 15px;
    margin-left: 220px;
    width: 130px;
   }
   .first-link-button{
       font-size: 10px;
       margin-left: 200px;

   }
   #second-title{
     align-items: center;
    margin-right: 1000px;
   }

   .second-container{
       display: flex;
       align-items:center;
       flex-direction: column;
   }
   .products{
       display:flex;
       flex-direction: column;
       margin-left: -800px;
      
       margin-right: 200px;
       
    
    
   }
   .product{
       width: 250px;
       overflow: hidden;
   }
   #link-button-two{
       
      align-content: flex-start;
      margin-left: -900px;
      margin-top: 10px;
   }
.third-container{
    width: 100%;
    display: block;
    margin-left: 10px;

}
#business-pic{
    width: 200px;
    margin-left: 50px;
}
.third-article{
    width: 200px;
    margin-left: 100px;
}

.fotter-center{
    width: 320px;
    margin-left: -20px;
}

   

   
  }
   /* mobile responsive end */  


    /* tablet responsive start */


    @media only screen and (max-width: 990px){
       .products{
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           grid-gap: 20px;
           width: 500px;
       } 
       #second-title{
           margin-right: 400px;
       }   
       .third-article{
           width: 380px;
       } 

    }